<!DOCTYPE html>
<html lang="es">

<head>
    <base href="migueldp.tk">
    <title>
        {% block title %}{% endblock %}
        Miguel dp
    </title>
    <link rel="canonical" href="migueldp.tk" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- META BLOCK -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Spanish">
    <meta name="author" content="Migueldp">
    {% block meta %}
    <meta name="title" content="migueldp">
    <meta name="description" content="Desarrollador de software. Página web personal y portfolio">
    <meta name="keywords" content="portfolio,personal,developer,dev,sotware,desarrollador,programador">
    <meta name="robots" content="index, follow">
    {% endblock %}

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- google ads 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" data-ad-client="ca-pub-9934738138092081"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9934738138092081"crossorigin="anonymous"></script>
    -->

</head>

<body>
    <header>
        <nav>
            <a class="nav-item" href="{{ url_for('index') }}">Inicio</a>
            <a class="nav-item" href="{{ url_for('life') }}">Conóceme</a>
            <a class="nav-item" href="{{ url_for('projects') }}">Proyectos</a>
            <a class="nav-item" href="{{ url_for('brand') }}">Emedpware</a>
            <a class="nav-item" href="{{ url_for('rrss') }}">Redes</a>
        </nav>
        {% block header %}
        {% endblock %}
    </header>
    <aside>
        {% block aside %}
        {% endblock %}
    </aside>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        
        <section>
            <p>Página web propiedad de Miguel Diniz "Migueldp"</p>
            <p><a href="{{ url_for('tos') }}">&lt;&#47; Términos de uso &#47;&gt;</a></p>
            <p><a href="{{ url_for('privacy') }}">&lt;&#47; Política de privacidad &#47;&gt;</a></p>
        </section>

        {% block footer %}
        
        {% endblock %}
    </footer>

</body>

</html>